---
import { getEntry } from "astro:content";
import Card from  "../components/Card.astro";
import Image from "../components/Image.astro";
import Chips from "../components/Chips.astro";

const projects = await getEntry("projects","data");
---
<section class="container space-down-xl" id="projects">
    <h2 class="title-lg">My projects .</h2>
    <section class="grid gap-6 grid-cols-1 md:grid-cols-3">
        {projects.data.map((el) => (
            <Card>
                <Image url={el.img} alt={`${el.title} Showcase Image.`} style="rounded-lg" slot="image" />
                <h4 class="mt-6 title-sm" slot="title">
                    {el.title} {el.category}
                </h4>
                <Chips chips={el.tools} slot="content"/>
                
                <p class="space-up-md" slot="content">
                    {el.summary}
                </p>
            </Card>
        ))}
    </section>
</section>